body {
    color: #fff;
    background-color: #282C38;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.page-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
}
.mdl-layout__header {
    background-color: #2D3035;
    box-shadow: #000;
}
.mdl-layout__header-row {
    padding: 0 80px 0 80px;
}
#navigation-logo {
    width: 36px;
    height: 36px;
    margin: 2px 10px 2px 10px;
}
#navigation-title {
    color: #cfcfcf;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 2px;
    text-indent: 10px;
    text-transform: uppercase;
}
.nav-menu-parent {
    position: relative;
    margin: 0 10px;
}
.mdl-menu__outline {
    color: #fff;
    background-color: #333846;
}
.mdl-menu__item {
    color: #ececec;
    font-size: 14px;
    text-align: center;
}
.mdl-menu__item:hover {
    background-color: #00A3C6;
}
.mdl-tooltip {
    font-size: 14px;
}
.mdl-button {
    color: #fff;
    border-radius: 6px;
    text-transform: none;
}
.mdl-grid {
    width: 100%;
}
.mdl-cell {
    color: #fff;
    padding: 25px;
    text-align: center;
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.mdl-dialog {
    color: #fff;
    background-color: #333846;
    width: 500px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: rgba(0, 163, 198, 1) 0px 0px 10px 5px;
}
.mdl-dialog__title {
    margin: 0;
    padding: 24px 24px 14px;
    font-size: 2.5rem;
}
.mdl-dialog__content {
    color: rgba(255, 255, 255, 0.90);
    padding: 20px 24px 14px 24px;
}
.mdl-dialog__actions button {
    width: 100%;
    border-radius: 6px;
}
.mdl-textfield__input {
    width: 152%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.90);
}
.mdl-textfield__label {
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.2rem;
}
.mdl-icon-toggle__label.material-icons {
    color: #818181;
}
#listener {
    height: 0px;
    margin-top: 0px;
    overflow: hidden;
}
#wasmSpinner {
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
    z-index: 2;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}
#loadingSpinner {
    color: #fff;
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
    z-index: 1;
    transform: translate(-50%, -50%);
    display: none;
    text-align: center;
}
#snackButton {
    width: 0px;
    height: 0px;
    display: none;
}
.mdl-snackbar {
    min-width: 0px;
}
.mdl-snackbar__text {
    padding: 14px 30px 14px 30px;
    font-size: 16px;
}
#host-grid {
    margin: 0;
    padding: 15px 80px 15px 80px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#game-grid {
    margin: 0;
    padding: 15px 80px 15px 80px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
#host-grid .mdl-card {
    flex-basis: 16.5%;
}
#game-grid .mdl-card {
    position: relative;
    background: url('../res/placeholder_game.svg') rgba(29, 29, 29, 1) center/cover no-repeat;
}
#host-grid .mdl-card {
    width: 200px;
    height: 220px;
    min-height: 200px;
    margin: 20px 30px 20px 25px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    will-change: transform;
    cursor: pointer;
    text-align: center;
}
#game-grid .mdl-card {
    width: 225px;
    height: 300px;
    min-height: 280px;
    margin: 20px 35px 20px 30px;
    border-radius: 6px;
    transition: all .2s ease-in-out;
    will-change: transform;
    cursor: pointer;
    text-align: center;
}
#host-grid .mdl-card:hover, #host-grid .mdl-card:focus, #host-grid .mdl-card:active,
#game-grid .mdl-card:hover, #game-grid .mdl-card:focus, #game-grid .mdl-card:active {
    transform: scale(1.1);
    border: 4px solid #00A3C6;
}
#host-grid .mdl-card__title {
    padding: 0;
}
#host-grid .mdl-card__title .mdl-card__title-text {
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    background-color: rgba(0,0,0,0.7);
    justify-content: center;
}
#host-grid .mdl-shadow--4dp {
    box-shadow: unset;
}
#game-grid .mdl-card img {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s;
}
#game-grid .mdl-card img.fade-in {
    opacity: 1;
}
#game-grid .game-title {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20px;
    padding: 5px 0;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
}
#game-grid .game-title span {
    padding: 0 10px;
}
.add-host-card > .mdl-card__title {
    color: #fff;
    background: url('../res/ic_add_to_queue_white_48px.svg') center no-repeat #3E4454;
}
.host-container > .mdl-card__title {
    color: #fff;
    background: url('../res/ic_tv_white_48px.svg') center no-repeat #3E4454;
}
.mdl-card.hovered {
    background-color: initial;
    transform: scale(1.1);
    border: 4px solid #00A3C6;
}
.hovered {
    background-color: rgba(158,158,158,.2);
}
#host-grid p {
    margin: 0;
}
#host-grid .mdl-textfield {
    width: 200px;
    margin-bottom: 0px;
    margin-right: 20px;
}
#host-grid #GFEHostIPField {
    padding-bottom: 0px;
}
#host-grid #selectHost {
    background: none;
    height: 20px;
    line-height: 20px;
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
#host-grid .button-holder {
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#pairButton, #showAppsButton {
    margin: 3px;
}
.remove-host {
    background-image: url('../res/ic_remove_circle_outline_white_48px.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 24px;
    height: 24px;
    z-index: 5;
    border: 0;
    cursor: pointer;
}
.remove-host:hover, .remove-host:focus, .remove-host:active {
    transform: scale(1.3);
}
.host-cell-inactive {
    outline: auto #F44336;
}
.host-cell:hover {
    color: #000;
    cursor: pointer;
}
.current-game {
    outline: auto #8BC34A;
}
.cancel-current {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 6px;
}
.cancel-current:hover {
    cursor: pointer;
}
.cancel-current img {
    margin-right: 5px;
}
.cancel-current .game-title {
    color: #fff;
}
.fullscreen {
    height: 100vh !important;
    margin: auto !important;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
}
#goBackBtn {
    background-color: #404354;
    position: fixed;
    left: 30px;
}
#supportBtn, #removeAllHostsBtn {
    margin: 0 10px;
}
#quitRunningAppBtn {
    margin: 0 10px;
    border-radius: 6px;
}
#removeAllHostsIcon {
    width: 24px;
    height: 24px;
    margin-bottom: 2px;
}
#supportQrCode {
    width: 50%;
    height: 50%;
    margin: 5px 25% 5px 25%;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 3px;
    align-items: center;
    justify-content: center;
}
#selectResolution, #selectFramerate, #selectBitrate {
    background-color: #404354;
}
#goBackBtn, #supportBtn, #removeAllHostsBtn, #externalAudioBtn,
#optimizeGamesBtn, #framePacingBtn, #audioSyncBtn {
    background-color: #404354;
    border-radius: 25%;
}
#pairingDialogText, #quitAppDialogText,
#deleteHostDialogText, #supportDialogText,
#terminateMoonlightDialogText {
    font-size: 1.2rem;
}
#continueAddHost, #cancelAddHost, #continueDeleteHost, #cancelDeleteHost,
#continueQuitApp, #cancelQuitApp, #continueTerminateMoonlight, #cancelTerminateMoonlight {
    width: 48%;
}
#cancelAddHost, #cancelDeleteHost, #cancelPairingDialog,
#closeSupportDialog, #cancelQuitApp, #cancelTerminateMoonlight {
    margin: 0 10px 20px 0;
}
#quitRunningAppBtn, #continueAddHost, #cancelAddHost, #cancelPairingDialog,
#continueDeleteHost, #cancelDeleteHost, #continueQuitApp, #cancelQuitApp,
#closeSupportDialog, #continueTerminateMoonlight, #cancelTerminateMoonlight {
    text-transform: uppercase;
}
#selectResolution:hover, #selectResolution:focus, #selectFramerate:hover, #selectFramerate:focus,
#selectBitrate:hover, #selectBitrate:focus, #externalAudioBtn:hover, #externalAudioBtn:focus,
#optimizeGamesBtn:hover, #optimizeGamesBtn:focus, #framePacingBtn:hover, #framePacingBtn:focus,
#audioSyncBtn:hover, #audioSyncBtn:focus, #removeAllHostsBtn:hover, #removeAllHostsBtn:focus,
#goBackBtn:hover, #goBackBtn:focus, #supportBtn:hover, #supportBtn:focus, #quitRunningAppBtn:hover,
#quitRunningAppBtn:focus, #continueAddHost:hover, #continueAddHost:focus, #cancelAddHost:hover,
#cancelAddHost:focus, #cancelPairingDialog:hover, #cancelPairingDialog:focus, #continueQuitApp:hover,
#continueQuitApp:focus, #cancelQuitApp:hover, #cancelQuitApp:focus, #continueDeleteHost:hover,
#continueDeleteHost:focus, #cancelDeleteHost:hover, #cancelDeleteHost:focus, #closeSupportDialog:hover,
#closeSupportDialog:focus, #continueTerminateMoonlight:hover, #continueTerminateMoonlight:focus,
#cancelTerminateMoonlight:hover, #cancelTerminateMoonlight:focus {
    background-color: #404354;
    box-shadow: rgba(0, 163, 198, 1) 0px 0px 2px 4px;
}
.bitrateMenu {
    width: 285px;
    display: flex;
    align-items: center;
}
#bitrateSlider {
    width: 180px;
}
#bitrateLowestValue {
    margin: 0 0 0 20px;
}
#bitrateHighestValue {
    margin: 0 20px 0 0;
}
