body {
    color: #fff;
    background-color: #282C38;
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
.page-title {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 300;
    font-size: 26px;
    text-align: center;
}
#main-navigation {
    background-color: #333846;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 1);
}
.mdl-layout__header-row {
    padding: 0 80px 0 80px;
}
#navigation-logo {
    width: 36px;
    height: 36px;
    margin: 2px 10px 2px 10px;
}
#navigation-title {
    color: #cfcfcf;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 2px;
    text-indent: 10px;
    text-transform: uppercase;
}
.nav-menu-parent {
    position: relative;
    margin: 0 10px;
}
.mdl-menu__outline {
    color: #fff;
    background-color: #333846;
}
.mdl-menu__item {
    color: #ececec;
    font-size: 1.1em;
    text-align: left;
    text-indent: 40px;
}
.mdl-menu__item.hovered, .mdl-menu__item:hover, .mdl-menu__item:focus {
    background-color: #484C5F;
}
.mdl-tooltip {
    color: #fff;
    background-color: #3E4454;
    padding: 14px;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}
.mdl-button {
    color: #fff;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    text-transform: none;
}
.mdl-button--raised.mdl-button--colored {
    color: #fff;
    background-color: #404354;
}
.button-icons {
    margin: 1px 4px 3px 0;
}
.mdl-grid {
    width: 100%;
}
.mdl-cell {
    color: #fff;
    padding: 25px;
    text-align: center;
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
}
.mdl-dialog {
    color: #fff;
    background-color: #333846;
    width: 500px;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px 5px rgba(0, 163, 198, 1);
}
.mdl-dialog__title {
    margin: 0;
    padding: 24px 24px 14px;
    font-size: 2.5rem;
}
.mdl-dialog__content {
    color: rgba(255, 255, 255, 0.90);
    padding: 20px 24px 14px 24px;
}
.mdl-dialog__actions button {
    width: 100%;
    border-radius: 6px;
}
.large-dialog {
    color: #fff;
    background-color: #333846;
    width: 85%;
    height: auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px 5px rgba(0, 163, 198, 1);
}
.mdl-textfield__input {
    width: 152%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.60);
}
.mdl-textfield__input.hovered, .mdl-textfield__input:hover, .mdl-textfield__input:focus {
    background-color: #404354;
}
.mdl-textfield__label {
    color: rgba(255, 255, 255, 0.90);
    font-size: 1.2rem;
}
.mdl-switch__label {
    margin-top: 17px;
    font-size: 1.0em !important;
}
.mdl-switch__input, .mdl-switch__track, .mdl-switch__thumb {
    margin: 18px 0 0 53.2em;
}
.mdl-switch.is-checked .mdl-switch__track {
    background: rgba(0, 163, 198, 1);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40);
}
.mdl-switch.is-checked .mdl-switch__thumb {
    background-color: #fff;
}
.mdl-switch.is-focused {
    background-color: #404354;
    box-shadow: 0 0 2px 3px rgba(0, 163, 198, 1);
}
.mdl-icon-toggle__label.material-icons {
    color: #818181;
}
.dropdown-items {
    float: right;
    margin: 5px 28px 5px 28px;
}
#listener {
    height: 0;
    margin-top: 0;
    overflow: hidden;
}
#wasmSpinner {
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
    z-index: 2;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
}
#loadingSpinner {
    color: #fff;
    position: fixed;
    left: 50%;
    bottom: 50%;
    margin: 0 auto;
    z-index: 1;
    display: none;
    text-align: center;
    transform: translate(-50%, -50%);
}
#snackButton {
    width: 0;
    height: 0;
    display: none;
}
.mdl-snackbar {
    background-color: #3E4454;
    min-width: 0;
    border-radius: 6px 6px 0 0;
    box-shadow: 0 0 8px 4px rgba(0, 163, 198, 1);
}
.mdl-snackbar__text {
    color: #fff;
    padding: 15px 20px 15px 20px;
    font-size: 18px;
    font-weight: 500;
    text-align: justify;
}
#host-grid {
    margin: 15px 0 15px 0;
    padding: 15px 80px 15px 80px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}
#game-grid {
    margin: 15px 0 15px 0;
    padding: 15px 68px 15px 95px;
    flex: 1;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: flex-start;
}
#host-grid .mdl-card {
    flex-basis: 16.5%;
}
#game-grid .mdl-card {
    position: relative;
    background: url('../res/placeholder_game.svg') rgba(29, 29, 29, 1) center/cover no-repeat;
}
#host-grid .mdl-card {
    width: 200px;
    height: 220px;
    min-height: 200px;
    margin: 25px 30px 30px 25px;
    transition: all .2s ease-in-out;
    will-change: transform;
    cursor: pointer;
    text-align: center;
}
#game-grid .mdl-card {
    width: 225px;
    height: 300px;
    min-height: 280px;
    margin: 25px 35px 30px 30px;
    transition: all .2s ease-in-out;
    will-change: transform;
    cursor: pointer;
    text-align: center;
}
#host-grid .mdl-card.hovered, #host-grid .mdl-card:hover,
#host-grid .mdl-card:focus, #host-grid .mdl-card:active,
#game-grid .mdl-card.hovered, #game-grid .mdl-card:hover,
#game-grid .mdl-card:focus, #game-grid .mdl-card:active {
    outline: #00A3C6 solid 3px;
    transform: scale(1.2);
}
#host-grid .mdl-card__title {
    padding: 0;
}
#host-grid .host-title {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 300;
    justify-content: center;
}
#host-grid .mdl-shadow--4dp {
    box-shadow: unset;
}
#game-grid .mdl-card img {
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity .2s;
}
#game-grid .mdl-card img.fade-in {
    opacity: 1;
}
#game-grid .game-title {
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 20px;
    padding: 5px 0;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}
#game-grid .game-title span {
    padding: 0 10px;
}
.add-host-card > .mdl-card__title {
    color: #fff;
    background: url('../res/ic_add_to_queue_white_48px.svg') center no-repeat #3E4454;
}
.host-container > .mdl-card__title {
    color: #fff;
    background: url('../res/ic_tv_white_48px.svg') center no-repeat #3E4454;
}
.hovered {
    background: rgba(158, 158, 158, 0.2);
}
#host-grid p {
    margin: 0;
}
#host-grid .mdl-textfield {
    width: 200px;
    margin-bottom: 0;
    margin-right: 20px;
}
#host-grid #GFEHostIPField {
    padding-bottom: 0;
}
#host-grid #selectHost {
    background: none;
    height: 20px;
    line-height: 20px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}
#host-grid .button-holder {
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
}
#ipAddressInputField {
    display: block;
    margin: 15px 0 15px 0;
}
#ipAddressInputField .mdl-textfield__label {
    top: -5px;
}
#ipAddressTextInput {
    font-size: 18px;
}
#ipAddressSelectFields {
    display: none;
    margin: 15px 0 15px 0;
}
#ipAddressSelectFields .mdl-textfield__label {
    top: -8px;
}
.select-option-field {
    position: relative;
    display: inline-block;
    box-sizing: border-box;
    width: 460px;
    max-width: 112%;
    margin: 0;
    padding: 20px 0;
    font-size: 16px;
}
.select-option-field-floating-label .mdl-textfield__label {
    color: #00A3C6;
    font-size: 20px;
}
.ip-address-select-field {
    width: 112px;
    height: 32px;
    border-radius: 4px;
    font-size: 18px;
    cursor: pointer;
}
.ip-address-select-field.hovered, .ip-address-select-field:hover {
    color: #fff;
    background-color: #585D75;
    box-shadow: 0 0 2px 2px rgba(0, 163, 198, 1);
}
#pairButton, #showAppsButton {
    margin: 3px;
}
.remove-host {
    background: url('../res/ic_remove_circle_outline_white_48px.svg') no-repeat center / 20px 20px;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 5;
    border: 0;
    cursor: pointer;
    transform: scale(1.2);
}
.remove-host:hover, .remove-host:focus, .remove-host:active {
    border-radius: 50%;
    transform: scale(1.3);
    box-shadow: 0 0 2px 2px rgba(244, 67, 54, 1);
}
.host-cell-inactive {
    outline: #F44336 solid 3px;
}
.host-cell:hover {
    color: #000;
    cursor: pointer;
}
.current-game {
    outline: #8BC34A solid 3px;
}
.cancel-current {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 6px;
}
.cancel-current:hover {
    cursor: pointer;
}
.cancel-current img {
    margin-right: 5px;
}
.cancel-current .game-title {
    color: #fff;
}
.fullscreen {
    height: 100vh !important;
    margin: auto !important;
    padding: 0 !important;
    border: none !important;
    overflow: hidden !important;
}
#settingsBtn, #supportBtn {
    margin: 0 10px;
}
#goBackBtn {
    position: fixed;
    left: 30px;
}
#settingsBtn, #supportBtn, #goBackBtn,
#restoreDefaultsBtn, #quitRunningAppBtn {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.40);
}
#settings-container {
    width: 100%;
    height: 100%;
    margin: 0;
    display: flex;
    flex-flow: row wrap;
}
.hide-container {
    display: none !important;
}
#settings-left-panel {
    flex: 1;
    max-width: 30%;
    padding: 20px;
    border-right: 3px solid #1D1D1D;
    overflow: auto;
}
#settings-right-panel {
    flex: 1;
    padding: 20px;
    overflow: auto;
}
.settings-categories {
    height: 100%;
    margin: 0 25px 0 25px;
    font-size: 1.6em;
    font-weight: bold;
    text-align: left;
    overflow: auto;
}
.category {
    color: #cfcfcf;
    margin: 25px;
    padding: 25px;
    border-bottom: 2px solid #666666;
    border-radius: 8px;
    cursor: pointer;
}
.category.hovered, .category:hover, .category:focus {
    background-color: #484C5F;
}
.category.selected {
    color: #ececec;
    background: rgba(0, 163, 198, 0.8);
    transform: scale(1.02);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
}
.category.selected:hover, .category.selected:focus {
    transform: scale(1.04);
    box-shadow: 0 0 0 3px rgba(64, 67, 84, 1);
}
.category label {
    position: relative;
    bottom: 4px;
    cursor: pointer;
}
.category-icons {
    margin: 0 15px 0 15px;
}
.settings-options {
    display: none;
    margin: 0 35px 0 35px;
}
.setting-option {
    margin: 25px;
}
.settings-options label {
    color: #cfcfcf;
    display: inline-block;
    margin-bottom: 12px;
    font-size: 1.4em;
    text-align: left;
}
.settings-options span {
    color: #ececec;
    display: block;
    margin-bottom: 12px;
    font-size: 1.3em;
    text-align: left;
}
#selectResolution, #selectFramerate, #selectBitrate, #removeAllHostsBtn,
#selectCodec, #navigationGuideBtn, #restartAppBtn, #exitAppBtn {
    font-size: 1.4em;
    text-indent: 36px;
}
#selectResolution, #selectFramerate, #selectBitrate, #ipAddressFieldModeBtn,
#optimizeGamesBtn, #externalAudioBtn, #removeAllHostsBtn, #selectCodec,
#framePacingBtn, #audioSyncBtn, #navigationGuideBtn, #restartAppBtn, #exitAppBtn {
    color: #ececec;
    background-color: #404354;
    width: 100%;
    height: 60px;
    text-align: left;
    box-sizing: border-box;
    cursor: pointer;
}
.bitrateMenu {
    background-color: #404354;
    display: flex;
    align-items: center;
}
.bitrateMenu input {
    flex: 1;
}
#bitrateSlider {
    width: 78em;
}
#bitrateLowestValue {
    margin: 0 -8px 0 18px;
}
#bitrateHighestValue {
    margin: 0 12px 0 -10px;
}
#bitrateLowestValue.hovered, #bitrateHighestValue.hovered {
    background-color: #404354;
}
#resolutionMenu > #selectResolution, #framerateMenu > #selectFramerate,
#bitrateMenu > #selectBitrate, #codecMenu > #selectCodec {
    background: url('../res/ic_arrow_drop_down_48px.svg') 94.6% 50% no-repeat #404354;
}
.resolutionMenu, .framerateMenu, .bitrateMenu, .codecMenu, .mdl-menu__container {
    width: 59.4% !important;
}
.resolutionMenu, .framerateMenu, .bitrateMenu, .codecMenu, .mdl-menu__outline {
    width: 100% !important;
    top: 2.5px !important;
    border-radius: 3px;
}
#restoreDefaultsBtn, #quitRunningAppBtn {
    margin: 0 10px;
    border-radius: 6px;
}
#supportQrCode {
    width: 50%;
    height: 50%;
    margin: 5px 25% 5px 25%;
    border-radius: 12px;
    box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}
#systemInfoBtn {
    color: #ececec;
    background-color: #404354;
    width: 100%;
    height: 100%;
    padding: 15px 50px 20px 50px;
    font-size: 1.2em;
    border-radius: 6px;
    cursor: pointer;
    text-align: left;
    white-space: pre-line;
    box-sizing: border-box;
}
.navGuideContainer {
    display: inline-flex;
    align-items: center;
    padding: 5px 20px 5px 20px;
}
.navGuideLabel {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.6);
}
.navGuideRemoteColor {
    background-color: #00A3C6;
}
.navGuideKeyboardColor {
    background-color: #F44336;
}
.navGuideGamepadColor {
    background-color: #8BC34A;
}
.navGuideLabelText {
    color: #ececec;
    font-size: 1.4rem;
    text-transform: uppercase;
}
#navGuideDialogText {
    list-style-type: none;
    padding: 5px 20px 5px 20px;
}
.navGuideDialogControls {
    padding: 5px 0 5px 0;
}
.navGuideRemoteText {
    color: #00A3C6;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.navGuideKeyboardText {
    color: #F44336;
    font-size: 1.2rem;
    text-transform: uppercase;
}
.navGuideGamepadText {
    color: #8BC34A;
    font-size: 1.2rem;
    text-transform: uppercase;
}
#removeAllHostsIcon, #navigationGuideIcon,
#restartApplicationIcon, #exitApplicationIcon {
    float: right;
    width: 35px;
    height: 35px;
    margin: 0 46px 2px 25em;
    filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.40));
}
#settingsBtn, #supportBtn, #goBackBtn, #ipAddressFieldModeBtn, #optimizeGamesBtn, #externalAudioBtn,
#removeAllHostsBtn, #framePacingBtn, #audioSyncBtn, #navigationGuideBtn, #restartAppBtn, #exitAppBtn {
    background-color: #404354;
    border-radius: 6px;
}
#pairingDialogText, #deleteHostDialogText, #supportDialogText, #navGuideDialogText,
#restoreDefaultsDialogText, #quitAppDialogText, #restartAppDialogText, #exitAppDialogText {
    font-size: 1.2rem;
}
#continueAddHost, #cancelAddHost, #continueDeleteHost, #cancelDeleteHost,
#continueRestoreDefaults, #cancelRestoreDefaults, #continueQuitApp, #cancelQuitApp,
#continueRestartApp, #cancelRestartApp, #continueExitApp, #cancelExitApp {
    width: 48%;
}
#cancelAddHost, #cancelPairingDialog, #cancelDeleteHost, #closeSupportDialog,
#closeNavGuideDialog, #cancelRestoreDefaults, #cancelQuitApp, #cancelRestartApp, #cancelExitApp {
    margin: 0 10px 20px 0;
}
#settingsBtn, #supportBtn, #continueAddHost, #cancelAddHost, #cancelPairingDialog, #continueDeleteHost, #cancelDeleteHost,
#closeSupportDialog, #closeNavGuideDialog, #restoreDefaultsBtn, #continueRestoreDefaults, #cancelRestoreDefaults,
#quitRunningAppBtn, #continueQuitApp, #cancelQuitApp, #continueRestartApp, #cancelRestartApp, #continueExitApp, #cancelExitApp {
    text-transform: uppercase;
}
#continueAddHost[disabled], #continueAddHost.mdl-button--disabled {
    color: #fff;
    background-color: #666876;
    pointer-events: auto;
    cursor: pointer;
}
#continueAddHost[disabled].hovered, #continueAddHost[disabled]:hover,
#continueAddHost[disabled]:focus, #continueAddHost[disabled]:active,
#continueAddHost.mdl-button--disabled:hover, #continueAddHost.mdl-button--disabled:focus,
#continueAddHost.mdl-button--disabled:active {
    background-color: #474852;
    box-shadow: 0 0 2px 3px rgba(147, 149, 159, 1);
    cursor: pointer;
}
#continueAddHost:hover, #continueAddHost:focus, #cancelAddHost:hover, #cancelAddHost:focus, #cancelPairingDialog:hover, #cancelPairingDialog:focus,
#continueDeleteHost:hover, #continueDeleteHost:focus, #cancelDeleteHost:hover, #cancelDeleteHost:focus, #closeSupportDialog:hover, #closeSupportDialog:focus,
#closeNavGuideDialog:hover, #closeNavGuideDialog:focus, #continueRestoreDefaults:hover, #continueRestoreDefaults:focus, #cancelRestoreDefaults:hover,
#cancelRestoreDefaults:focus, #continueQuitApp:hover, #continueQuitApp:focus, #cancelQuitApp:hover, #cancelQuitApp:focus, #continueRestartApp:hover,
#continueRestartApp:focus, #cancelRestartApp:hover, #cancelRestartApp:focus, #continueExitApp:hover, #continueExitApp:focus, #cancelExitApp:hover,
#cancelExitApp:focus, #settingsBtn:hover, #settingsBtn:focus, #supportBtn:hover, #supportBtn:focus, #goBackBtn:hover, #goBackBtn:focus,
#restoreDefaultsBtn:hover, #restoreDefaultsBtn:focus, #quitRunningAppBtn:hover, #quitRunningAppBtn:focus {
    background-color: #00A3C6;
    box-shadow: 0 0 0 3px rgba(64, 67, 84, 1);
}
#selectResolution:hover, #selectResolution:focus, #selectFramerate:hover, #selectFramerate:focus, #selectBitrate:hover, #selectBitrate:focus,
#ipAddressFieldModeBtn:hover, #ipAddressFieldModeBtn:focus, #optimizeGamesBtn:hover, #optimizeGamesBtn:focus, #externalAudioBtn:hover,
#externalAudioBtn:focus, #removeAllHostsBtn:hover, #removeAllHostsBtn:focus, #selectCodec:hover, #selectCodec:focus, #framePacingBtn:hover,
#framePacingBtn:focus, #audioSyncBtn:hover, #audioSyncBtn:focus, #systemInfoBtn:hover, #systemInfoBtn:focus, #navigationGuideBtn:hover,
#navigationGuideBtn:focus, #restartAppBtn:hover, #restartAppBtn:focus, #exitAppBtn:hover, #exitAppBtn:focus {
    background-color: #404354;
    box-shadow: 0 0 2px 3px rgba(0, 163, 198, 1);
}
